certifi==2018.1.18
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==1.11.7
django-filter==1.1.0
djangorestframework==3.7.7
idna==2.7
itypes==1.1.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pytz==2018.3
requests==2.19.1
uritemplate==3.0.0
urllib3==1.22
